<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, intitial-scale=1.0">
    <title>EUREKA</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
    <div class="container">
<div class = "art_image">
<div class = "eureka_title">
    EUREKA
</div>
</div>
    <header class="row">
      <div class ="span13">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="{{url_for("my_page")}}">HOME</a>
              <ul class="nav">
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("new_project")}}">NEW PROJECT</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("search_project")}}">SEARCH PROJECT</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("all_my_ratings")}}">MY RATINGS</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("about")}}">ABOUT EUREKA</a></li>
              <li class="divider-vertical"></li>
               <li><a href="{{url_for("contact")}}">CONTACT</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("logout")}}">LOGOUT</a></li>
               <li class="divider-vertical"></li>
              <li class="zest">imagine the surreal and absurd</li>
            </ul>
          </div>
        </div></div>
    </div>
    
  <!-- <div class="container"> -->
  <div class="container">
  <div class="hero-unit">
    <div class="colors">
     <div class="row-fluid">
      <div class="span9">
    <h1>Why Eureka?</h1>
  
  <p>Eureka was inspired by a basic concept: we try too hard to imagine.</p>

  <p>But, when do we NOT try? What happens then? It turns out some of our best discoveries come unexpectedly, through random events and unexpected associations</p>

  <p>Think about it: The story of Archimedes and his bathtub discovery. The cut-up method of William Burroughs. We are inspired by the random, surreal and unexpected</p>

  <p>With this in mind, Eureka was created to let you begin projects -- and then have a magical dash of randomness help you figure out the rest.</p>

  <p>But how random is TOO random? Sometimes, random things doen't help us make interesting connections. So, Eureka allows for a mixed "synonym" option to complement the randomness. Once you're creating ideas, just click on the "mix" button to see!</p>

  <p>Happy creating!</p>
</div>
</div>
</div>
</div>
</body>
</html>
