<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Title</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="http://localhost:5000/about">About</a></li>
      <li><a href="http://localhost:5000/mypage">My Page</a></li>
      <li><a href="http://localhost:5000/logout">Logout</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

	<h1>Why Eureka?</h1>
	
  <p>Eureka was inspired by a basic concept: we try too hard to imagine.</p>

  <p>Think about it: The story of Archimedes and his bathtub discovery. The cut-up method of William Burroughs. We are inspired by the random, surreal and unexpected</p>

  <p>But how random is TOO random? Sometimes, overly random things doen't let us make interesting connections in our minds. So, Eureka also allows for keywords so that the random generation can be complemented by a certain level of "relevance."</p>

  <p>Happy creating!</p>

	<p><a href="http://localhost:5000/new_project">Start New Project</a></p>
	<p><a href="http://localhost:5000/search_project">Search for an Existing Project</a></p>
</body>
</html>
