<!doctype html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>

    <div class="container">
<div class = "art_image">
<div class = "eureka_title">
    EUREKA
</div>
</div>
    <header class="row">
      <div class ="span6ish">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="http://localhost:5000/mypage">Home</a>
              <ul class="nav">
<!--               <li class="active"><a href="#">Home</a></li> -->
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/new_project">Start Project</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/search_project">Find Projects</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/logout">Logout</a></li>
            </ul>
          </div>
        </div></div>
    </div>
     
  <div class="container">
  <div class="hero-unit">
    <table class="table table-bordered table-hover table-condensed table-bordered">
    <p>All My Ratings</p>


    {% for rating in my_ratings %}
     {{rating.idea.idea}}<br>
     {{rating.rating}}<br>
     {{rating.rating_notes}}<br>
      <a href="{{url_for("change_rating", id = rating.idea.project_id, idea=rating.idea_id)}}">Change My Rating</a><br>
      {% endfor %}

</div>
</div>
</body>
</html>