
{% extends "base.html" %}
{% block title %}EUREKA{% endblock %}
  <style type="text/css">
  </style>
  {% block content %}
  <div class="container">
  <div class="hero-unit">
<div class="general_text">
     <div class="row-fluid">
    <div class="ratings_info">
     <div class="row-fluid">
      <div class="span12">
    <h1>My Ratings</h1>
    <p></p><p></p><p></p>

    <table class="table table-bordered table-hover table-condensed table-bordered">
      <tr>
        <th>Rating ID</th>
        <th>Project</th>
        <th>Idea</th>
        <th>Rating</th>
        <th>Average Rating</th>
        <th>Rating Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
    {% for rating in my_ratings %}
      <td>{{rating.id}}</td>
     <td>{{rating.idea.idea_project.project_name}}</td>
     <td>{{rating.idea.idea}}</td>
     <td>{{rating.rating}}</td>
     <td>{{rating.idea.average_rating}}</td>
     <td>{{rating.rating_notes}}</td>
   </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
</html>