{% extends "base.html" %}
  <style type="text/css">
  </style>
    
      {% block content %}
      <div class="container">
  <div class="hero-unit">
     <div class="row-fluid">
      <div class="span9">
<div class="general_text">
  <h1> Ideas for {{name}} </h1>
        <table class="table table-bordered table-hover table-condensed table-bordered">
      <tr>
        <th>Idea ID</th>
        <th>Idea</th>
        <th>Creator</th>
        <th>Action</th>
    </thead>
    <tbody>
      <tr>
    {% for individual in recent_ideas %}
        <td>{{individual.id}}</td>
        <td><a href="{{url_for("idea", id=individual.project_id, idea=individual.id)}}">{{individual.idea}}</a></td>
        <td>{{individual.creator.username}}</td>
        <td><a href="{{url_for("rate_idea", id=individual.project_id, idea=individual.id)}}">Rate Idea</a></td>
        </tr>
    {% endfor %}
   </tbody>
 </table>
       </div></div> 
  <div class="span3">
 <p></p><p></p><p></p>
 <a href="{{url_for("sorted_ideas", id=pro_id)}}" class="btn btn-danger btn-large active"></i>View Highest Rated</a>
 <p></p>
   <a href="{{url_for("my_project", id=pro_id)}}" class="btn btn-danger btn-large active"></i>Return to Project</a>
   <p></p>
</div></div>
   <br>
<br>
 </div>
{% endblock %}