
{% extends "base.html" %}
  <style type="text/css">
  </style>
  {% block content %}
  <div class="container">
  <div class="hero-unit">
    <div class="general_text">
       <div class="row-fluid">
      <div class="span9">
    <h1>Well, Hello There...</h1>
    <p></p>
  <p>My name is Lani.</p>
  <p>I made Eureka as my final project at <a href="http://www.hackbrightacademy.com/">Hackbright Academy.</a></p>
  <p>Feel free to visit my <a href="http://www.lostsomewhere.com/">blog</a>.
  <p>I can also be reached via email (ilana.fried at gmail.com).</p>
  <br><br><br><br><br>
</div>
</div>
</div>
</div>
</container>
</div>
{% endblock %}
