<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, intitial-scale=1.0">
    <title>EUREKA</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
    <div class="container">
<div class = "art_image">
<div class = "eureka_title">
    EUREKA
</div>
</div>
    <header class="row">
      <div class ="span13">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="{{url_for("my_page")}}">HOME</a>
              <ul class="nav">
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("new_project")}}">NEW PROJECT</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("search_project")}}">SEARCH PROJECT</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("all_my_ratings")}}">MY RATINGS</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("about")}}">ABOUT EUREKA</a></li>
              <li class="divider-vertical"></li>
               <li><a href="{{url_for("contact")}}">CONTACT</a></li>
              <li class="divider-vertical"></li>
              <li><a href="{{url_for("logout")}}">LOGOUT</a></li>
               <li class="divider-vertical"></li>
              <li class="zest">imagine the surreal and absurd</li>
            </ul>
          </div>
        </div></div>
    </div>
    
  <!-- <div class="container"> -->
  <div class="container">
  <div class="hero-unit">
    <div class="welcome_info">
     <div class="row-fluid">
      <div class="span9">

  <h1>Project</h1>

  Hello, {{project.master.username}}. As the creator of this project, you are the only person with access to this editing feature.

  Please re-enter all information into the fields. Whatever you enter will REPLACE what you currently have. If you wish to keep certain information, please retype it.

<h1></h1><h1></h1><h1></h1><h1></h1><h1></h1>
      <p>Current Information</p>

    <table class="table table-bordered table-hover table-condensed table-bordered">
      <tr>
        <th>Project Name</th>
        <th>Project Password</th>
        <th>Base Text</th>
        <th>Keywords</th>
    </thead>
    <tbody>
      <tr>
      <td>{{project.project_name}}</td>
     <td>{{project.project_password}}</td>
     <td>{{project.base_text}}</td>
     <td>{{project.keywords}}</td>
     </tr>
   </tbody>
 </table>
</div>
<div class="span3">
 <p></p><p></p>
 <p></p>
 <a href="{{url_for("all_ideas", id=project.id)}}" class="btn btn-danger btn-large active"></i>View + Rate Ideas</a>
 <p></p>
 <a href="{{url_for("sorted_ideas", id=project.id)}}" class="btn btn-danger btn-large active"></i>See Highest Rated</a>
 <p></p>
   <a href="{{url_for("my_project", id=project.id)}}" class="btn btn-danger btn-large active"></i>Return to Project</a>
   <p></p>
    <form class="horizontal" action = {{url_for("save_project_edits", id=project.id)}} method="POST">
      {{form.hidden_tag()}}
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form if field.widget.input_type != 'hidden' %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
  </div>
</div>
</div>
</div>
</body>
</html>