<!doctype html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>

  <div class="container">
    <header class="row">
      <div class ="span12">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand">Eureka</a>
              <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/new_project">Start Project</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/search_project">Find Projects</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/logout">Logout</a></li>
            </ul>
          </div>
        </div></div>
    </div>

  <h1>Project</h1>
    
    <p>Current Information</p>

    {% for extract in project_generator %}

     {{extract.project_name}}
     {{extract.project_password}}
     {{extract.base_text}}
     {{extract.keywords}}

     <p>PROJECT CREATOR</p>
     {{extract.master.username}}

    {% endfor %}

    <p>COLLABORATORS:</p>

    {% for person in collaborators %}

        {{person.user.username}}

    {% endfor %}

    {% for extract in project_generator %}

    <form action = {{url_for("save_project_edits", id=extract.id)}} form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
{% endfor %}
</body>
</html>