<!doctype html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
        <div class = "art_image">
<div class = "eureka_title">
    EUREKA
</div>
</div>
  <div class="container">
    <header class="row">
      <div class ="span">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand">Eureka</a>
              <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/new_project">Start Project</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/search_project">Find Projects</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/logout">Logout</a></li>
            </ul>
          </div>
        </div></div>
    </div>

    <div class="container">
  <div class="hero-unit">
     
    <p>PROJECT INFORMATION:</p>

    {% for selection in selected_idea %}
    Project: {{selection.idea_project.project_name}}
    <br>
    Idea: {{selection.idea}}
    <br>
    Creator: {{selection.creator.username}}

    <p></p>


    <p>RATING SUMMARY:</p>

    Average Rating: {{selection.average_rating}}
    <br>
    Total Ratings: {{selection.total_ratings}}
    <!-- Average rating: {[selection.avg_rating]} -->

     {% endfor %}

     <p></p>

    <p>RATING DETAILS:</p>

    {% for info in all_ratings %}
    Rater: {{info.rater.username}}
    <br>
    Rating: {{info.rating}}
    <br>
    Comments: {{info.rating_notes}}

     {% endfor %}

    {% for selection in selected_idea %}

   <p><a href="{{url_for("all_ideas", id = selection.project_id)}}">Return to Project Ideas</a><br>

    {% endfor %}

</div>
</container>

</body>
</html>