<html>
WELCOME TO EUREKA
    <form action="/authenticate" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
    <p>If you are already registered, you may login</p>
    <p>Register as a new user <a href="http://localhost:5000/new_user">HERE</a></p>
</html>

<!-- OLD VERSION:
 -->
<!-- <html>
<body>
	Welcome to EUREKA
<form action="/authenticate" method="POST">
	<p>Email</p>
	<input type="text" name="email" />
	<p>Username</p>
	<input type="text" name="username" />
	<p>Password</p>
	<input type="password" name="password" />
	<br>
	<input type="submit">
</form>
Register as a new user <a href="http://localhost:5000/new_user">HERE</a>
</body>
</html> -->