<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
    <div class = "art_image">
<div class = "eureka_title">
    EUREKA
</div>
</div>
<div class="container">
    <div style="position:left">  
  <div class="row">
   <form class="form-horizontal" form action="/authenticate" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <label class="checkbox">
            <input type="checkbox">remember me
        </label>
            <div class="row">
  <div class="span4">

        <input type="submit" class="btn btn-info btn-large active"></i></a> 
    </div>
</form>
<form class="form-horizontal" form action="save_user" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in add_form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <label class="checkbox">
            <input type="checkbox">remember me
        </label>
            <div class="row">
  <div class="span4">

        <input type="submit" class="btn btn-info btn-large active"></i></a> 
    </div>
</form>
  <div class="span4">
    </div>
    </form>
</div>
</div>



</div>
</div>
</div>
</body>
</html>


<!-- OLD VERSION:
 -->
<!-- <html>
<body>
	Welcome to EUREKA
<form action="/authenticate" method="POST">
	<p>Email</p>
	<input type="text" name="email" />
	<p>Username</p>
	<input type="text" name="username" />
	<p>Password</p>
	<input type="password" name="password" />
	<br>
	<input type="submit">
</form>
Register as a new user <a href="http://localhost:5000/new_user">HERE</a>
</body>
</html> -->