<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
	<h1>Project {{id}}</h1>
    <p>Create a new idea for your project!</p>
    <p>Feel inspired by the unexpected, surreal and absurd</p>


<!-- 	{% for project in project_info %}

		{{project.id}}
		{{project.project_name}}

	{% endfor %} -->

<!-- The problem with this is that I am not passing the project ID to new idea -- how can this be done PROPERLY?
 -->
<!-- <p><a href="http://localhost:5000/myproject/<int:id>/update_idea">Create New Idea For Project</a></p>
 -->

<p><a href="{{url_for("update_idea", id=id)}}">Create New Idea For Project</a><br>


<p><a href="http://localhost:5000/project_ideas">Review Ideas and Ratings</a></p>

</body>
</html>