{% extends "base.html" %}
  <style type="text/css">
  </style>
    
      {% block content %}
      <div class="container">
  <div class="hero-unit">
     <div class="row-fluid">
      <div class="span9">
<div class="general_text">

	<h1>{{project.project_name}} </h1>
    <p>Create a new idea for your project!</p>


     <p>BASE TEXT:</p> 
     {{project.base_text}}

     <p>PROJECT CREATOR</p>
     {{project.master.username}}

    <p>COLLABORATORS:</p>

    {% for membership in project.memberships %}
      {% if membership.user != project.master %}
        {{membership.user.username}}
      {% endif %}
    {% endfor %}
</div></div>
<div class="span3">
    <div class="special_side_bar">
 ------------------------------------------------------------------------------------------------
<p><a href="{{url_for("create_idea", id=id)}}"> CREATE IDEA</a></p>
 <p></p>
 ------------------------------------------------------------------------------------------------
  <p><a href="{{url_for("all_ideas", id=id)}}"> VIEW + RATE IDEAS</a></p>
 ------------------------------------------------------------------------------------------------
 <p><a href="{{url_for("sorted_ideas", id=id)}}"> VIEW HIGHEST RATED</a></p>
 ------------------------------------------------------------------------------------------------
  {% if project.master == g.user %}
    <p><a href="{{url_for("edit_project", id=id)}}"> EDIT PROJECT SETTINGS (creator only)</a></p>
  {% endif %}
</div></div></div></div>
{% endblock %}



