
{% extends "base.html" %}
  <style type="text/css">
  </style>
    
      {% block content %}
      <div class="container">
  <div class="hero-unit">
     <div class="row-fluid">
      <div class="span9">
    <table class="table table-bordered table-hover table-condensed table-bordered">
 <div class="span9">
  <caption><p>Welcome, {{person}}</p></caption>
    <thead>
      <tr>
        <th>Project ID</th>
        <th>Project Name</th>
        <th>Project Creator</th>
      </tr>
    </thead>
    <tbody>
       {% for membership in recent_work %}
      <tr>
      <td>{{membership.project_id}}</td>
      <td><a href="{{url_for("my_project", id=membership.project_id)}}">{{membership.project.project_name}}</a></td>
      <td>{{membership.project.master.username}}</td>
      {% endfor %}
      </tr>
    </tbody>
</table>
</div>
<div class="span3">
    <div class="special_side_bar">
      <p></p><p></p>
      <a href="http://localhost:5000/new_project" class="btn btn-large">Begin New Project</a>
    <p></p>
      <p><font color="#B22222">Eureka</font> is a tool for developing creative ideas. Whether you're a writer or artist, business owner or marketer, you can find the unusual and unexpected with Eureka.</p>
    </div></div>

{% endblock %}

