<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
	<h1>MY PAGE</h1>
	<p>My Projects</p>

	{% for project in recent_work %}


<!-- 	the problem with this is that i need to pass an id that is not the same as user BECAUSE THE ID WAS USER DURING AUTHENTICATION
 -->
		<p>PROJECT ID: <a href="{{url_for("my_project", id=project.id)}}">{{project.id}}</a><br>
		<p>PROJECT NAME: {{project.project_name}}</p>
	{% endfor %}


<!-- 	{% for name in recentwork_name %}
		<p>Project ID: {{name.name}}</p>
	{% endfor %} -->

	<p><a href="http://localhost:5000/new_project">Start New Project</a></p>
	<p><a href="http://localhost:5000/search_project">Search for an Existing Project</a></p>
</body>
</html>
