<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
    <h1>Registration</h1>
    <p>Become a member of EUREKA!</p>
    <p>Feel inspired by the unexpected, surreal and absurd</p>

    <form action="/save_user" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
</html>

<!-- OLD VERSION
 -->
<!-- <html>
<form action="/save_user" method="POST">
	<p>Email</p>
	<input type="text" name="email" />

	<p>Username</p>
	<input type="text" name="username" />

	<p>Password</p>
	<input type="password" name="password" />
	<br>
	<input type="submit">
</form>

</html>


 -->