
{% extends "base.html" %}
  <style type="text/css">
  </style>
  {% block content %}
  <div class="container">
  <div class="hero-unit">

     <div class="row-fluid">
      <div class="span1">
      </div>
      <div class="span6">
        <p></p><p></p>
        <div class="alt_title">
           <h1>New Project</h1>
      </div>
      <div class="span1"</div>
      <div class="span6">
        <div class="creation_form">

    <form class="form-horizontal" action="/save_project" form method="POST">
      {{form.hidden_tag()}}
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form if field.widget.input_type != 'hidden' %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
  </div>
</div>
    {% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
  <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>
</div>
<div class="span3">
  <br><br>
<!--     <div class="special_side_bar_version2"> -->
<p>Instructions</p>
      <p>1) Create a project with a unique name and password. The password is the key for other people to join.</p><p>2) Add base text. If you don't have base text, simply type "blank."</p><p>3) Add keywords, which will be used to generate synonyms.</p><p>4) Press "Submit" -- and now you can generate ideas!</p>
    </div></div>
</div>
</div>

{% endblock %}
