<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
	CREATE A NEW IDEA FOR YOUR PROJECT!


    {% for extract in project_generator %}

        <p>BASE TEXT:</p> 
        {{extract.base_text}}
    {% endfor %}

	<p>RANDOM:</p>
    <!-- How do we retrieve the random word? -->

    {% for individual in word_list %}
        {{individual.word}}
        <br>Don't know the word? See the dictionary definition HERE.
    {% endfor %}

    <p>KEYWORDS:</p>

     {% for extract in project_generator %}

        {{extract.keywords}}
    {% endfor %}

   <p></p>

     {% for each in like_list %}
        {{each}}
        {{each.words}}
        <br>Don't know the word? See the dictionary definition HERE.
    {% endfor %}

    <p>LIKE:</p>

	<p>MIX:</p>

	  <form action="/save_idea" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>

    Continue to <a href="http://localhost:5000/rate_idea"">Rate Idea</a><br>


<!--     <form action="/new_idea" form method="POST">
        {% for field in likeform %}

            {% for error in field.errors %}
            <p style="color:red">{{error}}</p>
            {% endfor %}
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form> -->
</html>
</body>
</html>