<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
    <form action="/save_project" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
</html>

<!-- <html>
<form action="/save_project" method="POST">
	<p>Project Name</p>
	<input type="text" name="name" />

	<p>Project Password</p>
	<input type="password" name="password" />

	<p>Base Text</p>
	<input type="text" name="base_text" />
	<br>
	<input type="submit">
</form>
</html>
 -->
