<!doctype html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
        <div class="container">
<div class = "art_image">
<div class = "eureka_title">
    EUREKA
</div>
</div>
<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
  <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %} -->

    <header class="row">
      <div class ="span6ish">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="http://localhost:5000/mypage">Home</a>
              <ul class="nav">
<!--               <li class="active"><a href="#">Home</a></li> -->
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/new_project">Start Project</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/search_project">Find Projects</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/logout">Logout</a></li>
            </ul>
          </div>
        </div></div>
    </div>
  <div class="container">
  <div class="hero-unit">
    <h1>Project</h1>
    <p>Create a project, either for yourself or a team!</p>
    <p>If you wish to keep your project private (for yourself or your team), remember to include a PASSWORD.</p>

    <form action="/save_project" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
    {% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
  <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

</div>
</div>
</html>
