<!doctype html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
	<h1>Project Ideas</h1>

	{% for selection in all_ideas %}

	<!-- 	{{selection.idea}}
		{{selection.creator.username}}
	{% endfor %}	 -->

	{% for one in all_ratings %}
		<p><b>Idea:</b></p>
		{{one.idea.idea}}
		<p><b>Creator:</b></p>
		<p><b>Rating:</b></p>
		{{one.rating}}
	{% endfor %}	

	<p><a href="http://localhost:5000/new_project">Start New Project</a></p>
	<p><a href="http://localhost:5000/mypage">Return to My Profile Page</a></p>

</body>
</html>
