<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
        <!-- iterate through form, which is taken the "form" taken from views -->
        <h1>Search Results</h1>


    {% for project in projects %}
        <p>Project ID: {{project.id}} <br>Project Name: {{project.project_name}}</p>
    {% endfor %}

 <form action="/authenticate_member" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <input type="submit">
    </form>
</html>