<html>
        <!-- iterate through form, which is taken the "form" taken from views -->
        <p>PROJECT</p>

    {% for project in projects %}
        Project ID: {{project.id}} Project Name: {{project.project_name}}
    {% endfor %}

 <form action="/authenticate_member" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>

</html>