<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
    <h1>Rate</h1>
    <p>Rate the idea you created(1-10)</p>
    <p>You may provide an optional note about your rating, which may help other users</p>

      <form action = {{url_for("save_rating", id=id, idea=idea)}} form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>

<p><a href="{{url_for("idea", id=id, idea=idea)}}">See all Ratings for this Idea</a></p>

<p><a href="{{url_for("all_ideas", id=id)}}">Return to Project Ideas</a><br>

</html>
</body>
</html>