<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />

<!-- <script type = "text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript"

$(window).on(‘load’, function(){
    alert("You are ready to begin");
})

</script>
 -->
</head>
<body>

        <h1>Ideas</h1>

    <p>Create a new idea for your project!</p>
    <p>Feel inspired by the unexpected, surreal and absurd</p>

    {% for extract in project_generator %}

      <p>Project:</p>
        {{extract.project_name}}

        <p>BASE TEXT:</p> 
        {{extract.base_text}}
    {% endfor %}

    <p>RANDOM:</p>
    <!-- How do we retrieve the random word? -->

    {{random_word}}
        <br>Don't know the word? See the dictionary definition <a href="http://dictionary.reference.com/browse/{{random_word}}" target="_blank">HERE.</a>
    
<!-- 
    <p>KEYWORDS:</p>

     {% for extract in project_generator %}

        {{extract.keywords}}
        
    {% endfor %} -->

    <p>LIKE:</p>

{#
    {% for each in like_list %}
        {% if not each %}
        Something broke
        {% else %}
        {{each[0].words[0]}} <br>
        <br>Don't know the word? See the dictionary definition <a href="http://dictionary.reference.com/browse/{{each[0].words[0]}}" target="_blank">HERE.</a>
        {% endif %}
    {% else %}
    Whoops, couldn't find anything
    {% endfor %}
#}
    <p>MIX:</p>

    {{random_combo}}


	<form action="save_idea" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>

{% for id_finder in project_generator %}

<p><a href="{{url_for("all_ideas", id=id_finder.id)}}">Review all Ideas For Project</a></p>

<p><a href="{{url_for("my_project", id=id_finder.id)}}">Return to Project</a><br>

{% endfor %}

</html>
</body>
</html>
