<!doctype html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>


$(document).ready(function(){
  $("special").hide()
  $("button").click(function(){
    $("special").toggle('slow');
  });
});

  </script>
</head>
<body>
      <div class="container">

<div class = "art_image">
<div class = "eureka_title">
    EUREKA
</div>
</div>
    <header class="row">
      <div class ="span">
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand">Eureka</a>
              <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/new_project">Start Project</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/search_project">Find Projects</a></li>
              <li class="divider-vertical"></li>
              <li><a href="http://localhost:5000/logout">Logout</a></li>
            </ul>
          </div>
        </div></div>
    </div>
     <div class="container">
  <div class="hero-unit">

        <h1>Ideas</h1>

    <p>Create a new idea for your project!</p>

     <table class="table table-bordered table-hover table-condensed table-bordered">
    <thead>
      <tr>
        <th>Project</th>
        <th>Base Text</th>
      </tr>
    </thead>
    <tbody>

    {% for extract in project_generator %}

     <tr>
      <td>{{extract.project_name}}</td>
      <td>{{extract.base_text}}</td>
    {% endfor %}
  </tr>
</tbody>
</table>

    <p>RANDOM:</p>

    {{random_word}}

        <br>Don't know the word? See the dictionary definition <a href="http://dictionary.reference.com/browse/{{random_word}}" target="_blank">HERE.</a>

   
    <p>MIX:</p>
    Want some suggestions? Further inspiration?
    <p></p>
    <button>MIX:</button>
    <p></p>
    <special>

    {{random_combo}}

</special>


<p>To skip a suggested word, simply submit</p>

	<form action="save_idea" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
<!-- </p>
<button type="button" onclick="displayMixer()">Display Mixed Result</button> -->
{% for id_finder in project_generator %}

<div class="row">
  <div class="span9">
<!-- <div class="btn-group"> -->
<div class="project_selectors">
  <a href="{{url_for("all_ideas", id=id_finder.id)}}" class="btn btn-info btn-large active"><i class="icon-white icon-eye-open"></i>Review All Ideas</a>
  <a href="{{url_for("my_project", id=id_finder.id)}}" class="btn btn-info btn-large active"><i class="icon-white icon-plane"></i>Return to Project</a>
</div>
</div>
</div>
{% endfor %}
    {% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
{% for message in messages %}
  <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

</div>
</container>
</html>
</body>
</html>

