<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"  />
</head>
<body>
<!-- Access Google JQuery -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

</script>
        <h1>Ideas</h1>

    <p>Create a new idea for your project!</p>
    <p>Feel inspired by the unexpected, surreal and absurd</p>

    {% for extract in project_generator %}

      <p>Project:</p>
        {{extract.project_name}}

        <p>BASE TEXT:</p> 
        {{extract.base_text}}
    {% endfor %}

    <p>RANDOM:</p>
    <!-- How do we retrieve the random word? -->

    {% for individual in word_list %}
        {{individual.word}}
        <br>Don't know the word? See the dictionary definition <a href="http://dictionary.reference.com/browse/{{individual.word}}" target="_blank">HERE.</a>
    {% endfor %}

<!-- 
    <p>KEYWORDS:</p>

     {% for extract in project_generator %}

        {{extract.keywords}}
        
    {% endfor %} -->

    <p>LIKE:</p>


    {% for each in like_list %}
        {{each[0].words[0]}} <br>
    <br>Don't know the word? See the dictionary definition <a href="http://dictionary.reference.com/browse/{{each[0].words[0]}}" target="_blank">HERE.</a>
    {% endfor %}

    <p>MIX:</p>

    {% for individual in word_list %}
        {{individual.word}}
    {% endfor %}
     {% for each in like_list %}
        {{each[0].words[0]}} <br>
    {% endfor %}


	<form action="save_idea" form method="POST">
        <!-- iterate through form, which is taken the "form" taken from views -->
        {% for field in form %}

            {% for error in field.errors %}
            <!-- print error message -->
            <p style="color:red">{{error}}</p>
            {% endfor %}
        <!-- represent the field and its respective label, such as "email" or "password" -->
            {{ field.label }}
            {{ field }}<br>
        {% endfor %}
        <input type="submit">
    </form>
</html>
</body>
</html>
